<!-- Bloco de código da Section -->
<section>
  <div id="areaExt"></div>
  <div class="row page-categorias">
  <div class="col-md-3"></div>
  <div class="col-md-6">
    <div class="titlePage">MÓVEIS</div>
      <div class="menuCategorias">
              <a href="#">ÁREA EXTERNA</a> |
              <a pageScroll href="#sala-jantar">SALA DE JANTAR</a> |
              <a pageScroll href="#sala-estar">SALA DE ESTAR</a> |
              <a pageScroll href="#dormitorio">DORMITÓRIO</a> |
              <a pageScroll href="#escritorio">ESCRITÓRIO</a> |
              <a pageScroll href="#cozinha">COZINHA</a>
      </div>

   <!-- Bloco de código da seção móveis -->

        <!-- Bloco de código da galeria de área externa -->
        <br>
        <div class="titleCategorias"><p>ÁREA EXTERNA</p></div>
           <div class="descCategoria">
            Seu refúgio particular.
            </div>
             <br>

          <div class="container col-md-12 container-categorias">
          <img src="assets/images/banner-categoria-areaexterna.png" alt="Área Externa" class="card-img-categorias">


         <div class="w3-container row">

          <!-- Bloco de código da imagem 1 -->
          <div class="col-md-3 col-sm-12 col-12">
            <div class="w3-card card-categorias">
              <a routerLink="/lista-de-produtos" pageScroll href="#lista-de-produtos">
                <img src="/assets/images/mesa-centro-iron.png" alt="Mesa de centro Iron" class="card-img-categorias">
              </a>
              <div class="w3-container card-text-categorias">
                <a class="text-muted" routerLink="/lista-de-produtos" pageScroll href="#lista-de-produtos">
                  <span>Mesas de Centro</span>
                </a>
              </div>
          </div>
        </div>
          <!-- Bloco de código da imagem 1 -->

          <!-- Bloco de código da imagem 2 -->
          <div class="col-md-3 col-sm-12 col-12">
            <div class="w3-card card-categorias">
              <a routerLink="/lista-de-produtos" pageScroll href="#lista-de-produtos">
                <img src="/assets/images/Poltrona-Inspira.png" alt="Poltrona Inspira" class="card-img-categorias">
              </a>
              <div class="w3-container card-text-categorias">
              <a class="text-muted" routerLink="/lista-de-produtos" pageScroll href="#lista-de-produtos">
                <span>poltronas</span>
              </a>
            </div>
          </div>
        </div>
          <!-- Bloco de código da imagem 2 -->

          <!-- Bloco de código da imagem 3 -->
          <div class="col-md-3 col-sm-12 col-12">
            <div class="w3-card card-categorias">
              <a routerLink="/lista-de-produtos" pageScroll href="#lista-de-produtos">
                <img src="/assets/images/Cadeira-Net-Junco.png" alt="Cadeira Net Junco" class="card-img-categorias">
              </a>
              <div class="w3-container card-text-categorias">
              <a class="text-muted" routerLink="/lista-de-produtos" pageScroll href="#lista-de-produtos">
                <span>Cadeiras</span>
              </a>
              </div>
            </div>
          </div>
            <!-- Bloco de código da imagem 3 -->

            <!-- Bloco de código da imagem 4 -->
            <div class="col-md-3 col-sm-12 col-12">
              <div class="w3-card card-categorias">
              <a routerLink="/lista-de-produtos" pageScroll href="#lista-de-produtos">
                <img src="/assets/images/Banqueta-Oregon.png" alt="Banqueta Oregon" class="card-img-categorias">
              </a>
                <div class="w3-container card-text-categorias">
                <a class="text-muted" routerLink="/lista-de-produtos" pageScroll href="#lista-de-produtos">
                  <span>banquetas</span>
                </a>
              </div>
            </div>
            </div>
            <!-- Bloco de código da imagem 4 -->
            <div id="sala-jantar"></div>
        </div>
      </div>
        <!-- Bloco de código da galeria de área externa -->

        <!-- Bloco de código da galeria da sala de jantar -->
        <br>
        <div class="titleCategorias"><p>SALA DE JANTAR</p></div>
           <div class="descCategoria">
            Um ambiente de luxo e conforto para celebrar e receber os amigos.
            </div>
             <br>

          <div class="container col-md-12 container-categorias">
          <img src="assets/images/banner-categoria-salajantar.png" alt="Sala de Jantar" class="card-img-categorias">

         <div class="w3-container row">

          <!-- Bloco de código da imagem 1 -->
          <div class="col-md-3 col-sm-12 col-12">
            <div class="w3-card card-categorias">
              <a routerLink="/lista-de-produtos" pageScroll href="#lista-de-produtos">
                <img src="/assets/images/mesa-centro-iron.png" alt="Mesa de centro Iron" class="card-img-categorias">
              </a>
              <div class="w3-container card-text-categorias">
                <a class="text-muted" routerLink="/lista-de-produtos" pageScroll href="#lista-de-produtos">
                  <span>Mesas de Centro</span>
                </a>
            </div>
          </div>
        </div>
          <!-- Bloco de código da imagem 1 -->

          <!-- Bloco de código da imagem 2 -->
          <div class="col-md-3 col-sm-12 col-12">
            <div class="w3-card card-categorias">
              <a routerLink="/lista-de-produtos" pageScroll href="#lista-de-produtos">
                <img src="/assets/images/Mesa-Lateral-Blanca.png" alt="Mesa Lateral Blanca" class="card-img-categorias">
              </a>
              <div class="w3-container card-text-categorias">
              <a class="text-muted" routerLink="/lista-de-produtos" pageScroll href="#lista-de-produtos">
                <span>Mesas Laterais</span>
              </a>
            </div>
          </div>
        </div>
          <!-- Bloco de código da imagem 2 -->

          <!-- Bloco de código da imagem 3 -->
          <div class="col-md-3 col-sm-12 col-12">
            <div class="w3-card card-categorias">
              <a routerLink="/lista-de-produtos" pageScroll href="#lista-de-produtos">
                <img src="/assets/images/Luna-Mesa-Jantar.png" alt="Luna mesa de jantar" class="card-img-categorias">
              </a>
              <div class="w3-container card-text-categorias">
                <a class="text-muted" routerLink="/lista-de-produtos" pageScroll href="#lista-de-produtos">
                  <span>Mesas</span>
                </a>
              </div>
            </div>
          </div>
            <!-- Bloco de código da imagem 3 -->

            <!-- Bloco de código da imagem 4 -->
            <div class="col-md-3 col-sm-12 col-12">
              <div class="w3-card card-categorias">
                <a routerLink="/lista-de-produtos" pageScroll href="#lista-de-produtos">
                  <img src="/assets/images/Aparador-Bento.png" alt="Aparador Bento" class="card-img-categorias">
                </a>
                <div class="w3-container card-text-categorias">
                  <a class="text-muted" routerLink="/lista-de-produtos" pageScroll href="#lista-de-produtos">
                    <span>Aparadores</span>
                  </a>
              </div>
            </div>
            </div>
            <!-- Bloco de código da imagem 4 -->
            <div id="sala-estar"></div>
        </div>
      </div>
        <!-- Bloco de código da galeria da sala de jantar -->

        <!-- Bloco de código da galeria da sala de estar -->
        <br>
        <div class="titleCategorias"><p>SALA DE ESTAR</p></div>
           <div class="descCategoria">
            Um ambiente de luxo e conforto para celebrar e receber os amigos.
            </div>
             <br>

            <div class="container col-md-12 container-categorias">
            <img src="assets/images/banner-categoria-salaestar.png" alt="Sala de Estar" class="card-img-categorias">

         <div class="w3-container row">

          <!-- Bloco de código da imagem 1 -->
          <div class="col-md-3 col-sm-12 col-12">
            <div class="w3-card card-categorias">
              <a routerLink="/lista-de-produtos" pageScroll href="#lista-de-produtos">
                <img src="/assets/images/mesa-centro-iron.png" alt="Mesa de centro Iron" class="card-img-categorias">
              </a>
              <div class="w3-container card-text-categorias">
                <a class="text-muted" routerLink="/lista-de-produtos" pageScroll href="#lista-de-produtos">
                  <span>Mesas de Centro</span>
                </a>
            </div>
          </div>
        </div>
          <!-- Bloco de código da imagem 1 -->

          <!-- Bloco de código da imagem 2 -->
          <div class="col-md-3 col-sm-12 col-12">
            <div class="w3-card card-categorias">
              <a routerLink="/lista-de-produtos" pageScroll href="#lista-de-produtos">
                <img src="/assets/images/Mesa-Lateral-Blanca.png" alt="Mesa Lateral Blanca" class="card-img-categorias">
              </a>
              <div class="w3-container card-text-categorias">
                <a class="text-muted" routerLink="/lista-de-produtos" pageScroll href="#lista-de-produtos">
                  <span>Mesas Laterais</span>
                </a>
              </div>
            </div>
          </div>
            <!-- Bloco de código da imagem 2 -->

          <!-- Bloco de código da imagem 3 -->
          <div class="col-md-3 col-sm-12 col-12">
            <div class="w3-card card-categorias">
              <a routerLink="/lista-de-produtos" pageScroll href="#lista-de-produtos">
                <img src="/assets/images/Luna-Mesa-Jantar.png" alt="Luna mesa de jantar" class="card-img-categorias">
              </a>
              <div class="w3-container card-text-categorias">
                <a class="text-muted" routerLink="/lista-de-produtos" pageScroll href="#lista-de-produtos">
                  <span>Mesas</span>
                </a>
              </div>
            </div>
          </div>
            <!-- Bloco de código da imagem 3 -->

            <!-- Bloco de código da imagem 4 -->
            <div class="col-md-3 col-sm-12 col-12">
              <div class="w3-card card-categorias">
                <a routerLink="/lista-de-produtos" pageScroll href="#lista-de-produtos">
                  <img src="/assets/images/Hades_Rack.png" alt="Hades rack" class="card-img-categorias">
                </a>
                <div class="w3-container card-text-categorias">
                  <a class="text-muted" routerLink="/lista-de-produtos" pageScroll href="#lista-de-produtos">
                    <span>Racks</span>
                  </a>
              </div>
            </div>
            </div>
            <!-- Bloco de código da imagem 4 -->
            <div id="dormitorio"></div>
        </div>
             </div>
        <!-- Bloco de código da galeria da sala de estar -->

        <!-- Bloco de código da galeria do dormitório -->
        <br>
        <div class="titleCategorias"><p>DORMITÓRIO</p></div>
           <div class="descCategoria">
            Conforto e bem-estar onde seus sonhos se tornam realidade.
            </div>
             <br>

          <div class="container col-md-12 container-categorias">
          <img src="assets/images/banner-categoria-dormitorio.png" alt="Dormitório" class="card-img-categorias">

         <div class="w3-container row">

          <!-- Bloco de código da imagem 1 -->
          <div class="col-md-3 col-sm-12 col-12">
            <div class="w3-card card-categorias">
              <a routerLink="/lista-de-produtos" pageScroll href="#lista-de-produtos">
                <img src="/assets/images/Giorno-Moldura-Espelho.png" alt="Giorno moldura espelho" class="card-img-categorias">
              </a>
              <div class="w3-container card-text-categorias">
              <a class="text-muted" routerLink="/lista-de-produtos" pageScroll href="#lista-de-produtos">
                <span>Espelhos</span>
              </a>
            </div>
          </div>
        </div>
          <!-- Bloco de código da imagem 1 -->

          <!-- Bloco de código da imagem 2 -->
          <div class="col-md-3 col-sm-12 col-12">
            <div class="w3-card card-categorias">
              <a routerLink="/lista-de-produtos" pageScroll href="#lista-de-produtos">
                <img src="/assets/images/CONJUNTO-DG.png" alt="Conjunto DG" class="card-img-categorias">
              </a>
              <div class="w3-container card-text-categorias">
                <a class="text-muted" routerLink="/lista-de-produtos" pageScroll href="#lista-de-produtos">
                  <span>Colchões</span>
                </a>
              </div>
            </div>
          </div>
            <!-- Bloco de código da imagem 2 -->

          <!-- Bloco de código da imagem 3 -->
          <div class="col-md-3 col-sm-12 col-12">
            <div class="w3-card card-categorias">
              <a routerLink="/lista-de-produtos" pageScroll href="#lista-de-produtos">
                <img src="/assets/images/Stone-Gaveteiro.png" alt="Stone Gaveteiro" class="card-img-categorias">
              </a>
              <div class="w3-container card-text-categorias">
                <a class="text-muted" routerLink="/lista-de-produtos" pageScroll href="#lista-de-produtos">
                  <span>Gaveteiros</span>
                </a>
              </div>
            </div>
          </div>
            <!-- Bloco de código da imagem 3 -->

            <!-- Bloco de código da imagem 4 -->
            <div class="col-md-3 col-sm-12 col-12">
              <div class="w3-card card-categorias">
                <a routerLink="/lista-de-produtos" pageScroll href="#lista-de-produtos">
                  <img src="/assets/images/Stone-Criado-Branco.png" alt="Stone Criado Branco" class="card-img-categorias">
                </a>
                <div class="w3-container card-text-categorias">
                  <a class="text-muted" routerLink="/lista-de-produtos" pageScroll href="#lista-de-produtos">
                    <span>Criado</span>
                  </a>
              </div>
            </div>
            </div>
            <!-- Bloco de código da imagem 4 -->
            <div id="escritorio"></div>
        </div>
             </div>
        <!-- Bloco de código da galeria do dormitório -->

        <!-- Bloco de código da galeria do escritório -->
        <br>
        <div class="titleCategorias"><p>ESCRITÓRIO</p></div>
           <div class="descCategoria">
            O lugar onde a expertise e refinamento se encontram.
            </div>
             <br>

          <div class="container col-md-12 container-categorias">
          <img src="assets/images/banner-categoria-escritorio.png" alt="Escritório" class="card-img-categorias">

         <div class="w3-container row">

          <!-- Bloco de código da imagem 1 -->
          <div class="col-md-3 col-sm-12 col-12">
            <div class="w3-card card-categorias">
              <a routerLink="/lista-de-produtos" pageScroll href="#lista-de-produtos">
                <img src="/assets/images/CADEIRA-GIRATORIA-GENOVA.png" alt="Cadeira Giratória Genova" class="card-img-categorias">
              </a>
              <div class="w3-container card-text-categorias">
                <a class="text-muted" routerLink="/lista-de-produtos" pageScroll href="#lista-de-produtos">
                  <span>Cadeiras</span>
                </a>
            </div>
          </div>
        </div>
          <!-- Bloco de código da imagem 1 -->

          <!-- Bloco de código da imagem 2 -->
          <div class="col-md-3 col-sm-12 col-12">
            <div class="w3-card card-categorias">
              <a routerLink="/lista-de-produtos" pageScroll href="#lista-de-produtos">
                <img src="/assets/images/Aparador-Bento.png" alt="Aparador Bento" class="card-img-categorias">
              </a>
              <div class="w3-container card-text-categorias">
                <a class="text-muted" routerLink="/lista-de-produtos" pageScroll href="#lista-de-produtos">
                  <span>Aparadores</span>
                </a>
              </div>
            </div>
          </div>
            <!-- Bloco de código da imagem 2 -->

          <!-- Bloco de código da imagem 3 -->
          <div class="col-md-3 col-sm-12 col-12">
            <div class="w3-card card-categorias">
              <a routerLink="/lista-de-produtos" pageScroll href="#lista-de-produtos">
                <img src="/assets/images/Cadeira-Net-Junco.png" alt="Cadeira Net Junco" class="card-img-categorias">
              </a>
              <div class="w3-container card-text-categorias">
                <a class="text-muted" routerLink="/lista-de-produtos" pageScroll href="#lista-de-produtos">
                  <span>Cadeiras</span>
                </a>
              </div>
            </div>
          </div>
            <!-- Bloco de código da imagem 3 -->

            <!-- Bloco de código da imagem 4 -->
            <div class="col-md-3 col-sm-12 col-12">
              <div class="w3-card card-categorias">
                <a routerLink="/lista-de-produtos" pageScroll href="#lista-de-produtos">
                  <img src="/assets/images/Poltrona-Inspira.png" alt="Poltrona Inspira" class="card-img-categorias">
                </a>
                <div class="w3-container card-text-categorias">
                  <a class="text-muted" routerLink="/lista-de-produtos" pageScroll href="#lista-de-produtos">
                    <span>Poltronas</span>
                  </a>
              </div>
            </div>
            </div>
            <!-- Bloco de código da imagem 4 -->
            <div id="cozinha"></div>
        </div>
             </div>
        <!-- Bloco de código da galeria do escritório -->

        <!-- Bloco de código da galeria da cozinha -->
        <br>
        <div class="titleCategorias"><p>COZINHA</p></div>
           <div class="descCategoria">
            O ambiente mais saboroso da casa exige funcionalidade e requinte.
            </div>
             <br>

          <div class="container col-md-12 container-categorias">
          <img src="assets/images/banner-categoria-cozinha.png" alt="Aero salajantar" class="card-img-categorias">


         <div class="w3-container row">

          <!-- Bloco de código da imagem 1 -->
          <div class="col-md-3 col-sm-12 col-12">
            <div class="w3-card card-categorias">
              <a routerLink="/lista-de-produtos" pageScroll href="#lista-de-produtos">
                <img src="/assets/images/Mesa-Bar-Docca.png" alt="Mesa Bar Docca" class="card-img-categorias">
              </a>
              <div class="w3-container card-text-categorias">
                <a class="text-muted" routerLink="/lista-de-produtos" pageScroll href="#lista-de-produtos">
                  <span>Mesas</span>
                </a>
            </div>
          </div>
        </div>
          <!-- Bloco de código da imagem 1 -->

          <!-- Bloco de código da imagem 2 -->
          <div class="col-md-3 col-sm-12 col-12">
            <div class="w3-card card-categorias">
              <a routerLink="/lista-de-produtos" pageScroll href="#lista-de-produtos">
                <img src="/assets/images/Luna-Mesa-Jantar.png" alt="Luna mesa de jantar" class="card-img-categorias">
              </a>
              <div class="w3-container card-text-categorias">
                <a class="text-muted" routerLink="/lista-de-produtos" pageScroll href="#lista-de-produtos">
                  <span>Mesas</span>
                </a>
              </div>
            </div>
          </div>
            <!-- Bloco de código da imagem 2 -->

          <!-- Bloco de código da imagem 3 -->
          <div class="col-md-3 col-sm-12 col-12">
            <div class="w3-card card-categorias">
              <a routerLink="/lista-de-produtos" pageScroll href="#lista-de-produtos">
                <img src="/assets/images/Aparador-Bento.png" alt="Aparador Bento" class="card-img-categorias">
              </a>
              <div class="w3-container card-text-categorias">
                <a class="text-muted" routerLink="/lista-de-produtos" pageScroll href="#lista-de-produtos">
                  <span>Aparadores</span>
                </a>
              </div>
            </div>
          </div>
            <!-- Bloco de código da imagem 3 -->

            <!-- Bloco de código da imagem 4 -->
            <div class="col-md-3 col-sm-12 col-12">
              <div class="w3-card card-categorias">
                <a routerLink="/lista-de-produtos" pageScroll href="#lista-de-produtos">
                  <img src="/assets/images/Poltrona-Inspira.png" alt="Poltrona Inspira" class="card-img-categorias">
                </a>
                <div class="w3-container card-text-categorias">
                  <a class="text-muted" routerLink="/lista-de-produtos" pageScroll href="#lista-de-produtos">
                    <span>Poltronas</span>
                  </a>
              </div>
            </div>
            </div>
            <!-- Bloco de código da imagem 4 -->
        </div>

        <!-- Bloco de código da galeria da cozinha -->
             </div>
  </div>
</div>
</section>
<!-- Bloco de código da Section -->
