.perfil-profile-title{
  color: #787878;
  font-family: 'LILIHOME-Antonio';
  font-size: 20px;
  font-weight: 300;
  line-height: 42px;
}

.perfil-profile-avatar{
  width: 40%;
  margin-left: 50%;
}

.perfil-profile-button{
  margin-left: 15%;
  margin-top: 15%;
  height: 47px;
}

.perfil-profile-form{
  margin-top: 10%;
  width: 800px;
}

.perfil-profile-input-title{
  color: #292929;
  font-family: 'LILIHOME-Open Sans';
  font-size: 12px;
  margin-top: 5%;
}

.input-date{
  margin-top: 0.5%;
}

.perfil-profile-salvar{
  margin-top: 15%;
  height: 47px;
}
