<!-- Bloco de código da Section -->
<section>
  <div class="sizePage">
    <span class="perfil-profile-title">
      MEU PERFIL
    </span>

  <div class="row">
      <div class="media p-3">
        <img src="assets/images/icons/ICON_semfto_user.svg" alt="foto perfil" class="mr-3 mt-2 rounded-circle perfil-profile-avatar">
        <button type="button" class="btn btn-outline-success perfil-profile-button col-md-10">EDITAR FOTO</button>
      </div>
  </div>

  <form class="w3-container perfil-profile-form">

    <div class="row">
      <div class="col-md-6">
          <label class="perfil-profile-input-title">Nome Completo</label>
          <input class="w3-input" type="text">
      </div>
      <div class="col-md-4 input-date">
        <label class="perfil-profile-input-title">Data</label>
        <input class="w3-input" type="date">
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <label class="perfil-profile-input-title">E-mail</label>
        <input class="w3-input" type="email">
      </div>
      <div class="col-md-4 input-date">
        <label class="perfil-profile-input-title">Celular</label>
        <input class="w3-input" type="tel">
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">

      </div>
      <div class="col-md-6">
        <button type="button" class="btn btn-success perfil-profile-salvar col-md-8">SALVAR ALTERAÇÕES</button>
      </div>
    </div>

  </form>

  </div>
</section>

