<!-- Bloco de código da Section -->
<section> 
  <div class="cardComponent">     
    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-6">        
  
        <div class="titlePage"><h1>ENTREGAS</h1></div>
        <div class="titlePage2">Tudo que você precisa saber sobre entregas em respostas rápidas.</div>
        <div class="textPage">								
            <br>
                
        <!-- Bloco de código de faq -->        
        <div id="accordion1">
        <div class="card col-md-12 list-group">  
          <!-- Bloco de código de faq 1-->     
            <div class="card-body col-md-11 list-group-item cardShadow">
              <a class="collapsed card-link" data-toggle="collapse" href="#collapse1">
                  <div class="row">
                      <div class="col-md-11">Quais estados a Lilihome realiza entregas?</div>
                      <div class="col-md-1">
                          <img src="/assets/images/ICON_plus.svg" alt="plus">
                      </div>	
                  </div>
              </a>
            </div>
          
           <div id="collapse1" class="collapse text-faq cardFaq" data-parent="#accordion1">
              <div class="card-footer list-group-item-secondary">
                As entregas são realizadas nos Estados de*:
                Minas Gerais.
                Paraná.
                Rio Grande do Sul.
                Santa Catarina.
                São Paulo.
                
                *No momento da compra é importante verificar se em sua rua ou bairro não há restrições impostas pela Seguradora.
                
              </div>
            </div>
            <!-- Bloco de código de faq 1-->            

            <!-- Bloco de código de faq 2-->
            <div class="card-body col-md-11 list-group-item cardShadow">
              <a class="collapsed card-link" data-toggle="collapse" href="#collapse2">
                  <div class="row">
                      <div class="col-md-11">Qual é a previsão de entrega do meu pedido?</div>
                      <div class="col-md-1">
                          <img src="/assets/images/ICON_plus.svg" alt="plus">
                      </div>	
                  </div>
              </a>
            </div>
          
           <div id="collapse2" class="collapse text-faq cardFaq" data-parent="#accordion2">
              <div class="card-footer list-group-item-secondary">
                A previsão de entrega pode variar dependendo da região do endereço cadastrado. Esta informação poderá ser verificada no momento do preenchimento do CEP de destino, inclusive antes de realizar o pedido.  
                A data de entrega pode variar para menos ou para mais dias. 
                O prazo indicado como previsão de entrega considera somente os dias úteis (entre segunda e sexta-feira), não sendo computados os finais de semana e feriados (federais, estaduais ou municipais).  
                O início do prazo para entrega se inicia somente após a aprovação do pedido, que ocorre quando há a confirmação do pagamento.
                
              </div>
            </div>
            <!-- Bloco de código de faq 2-->

            <!-- Bloco de código de faq 3-->
            <div class="card-body col-md-11 list-group-item cardShadow">
                <a class="collapsed card-link" data-toggle="collapse" href="#collapse3">
                    <div class="row">
                        <div class="col-md-11">A entrega do pedido pode atrasar?</div>
                        <div class="col-md-1">
                            <img src="/assets/images/ICON_plus.svg" alt="plus">
                        </div>	
                    </div>
                </a>
              </div>
            
             <div id="collapse3" class="collapse text-faq cardFaq" data-parent="#accordion3">
                <div class="card-footer list-group-item-secondary">
                  A Lilihome informa que o prazo indicado nos pedidos trata-se de mera previsão, sendo que o referido prazo pode se estender por igual período, em razão de circunstâncias alheias à vontade da Lilihome incluindo, mas não se limitando a: roubo/furto de cargas, extravio de mercadorias pela transportadora, avarias causadas acidentalmente, problemas na fabricação de produtos pelo fornecedor, condições climáticas adversas.  Tendo em vista tratar-se de mera previsão, a Lilihome não se responsabiliza por obrigações assumidas pelo cliente e prejuízos decorrentes, incluindo, mas não se limitando a: atrasos em reformas e obras, impossibilidade de inauguração de estabelecimentos, despesas com mão de obra e demais obrigações assumidas pelo cliente com terceiros.  
                  Constatada a necessidade de extensão do prazo, a Lilihome entrará em contato, possibilitando as seguintes opções:  
                  a) Aceitar o novo prazo de entrega.
                  b) Utilizar o valor da compra como crédito para realização de novo pedido e aquisição de outros produtos, com novo prazo de entrega.
                  c) Solicitar o cancelamento da compra e o estorno do valor pago.
                  
                </div>
              </div>
            <!-- Bloco de código de faq 3-->

            <!-- Bloco de código de faq 4 -->
                 
            <div class="card-body col-md-11 list-group-item cardShadow">
              <a class="collapsed card-link" data-toggle="collapse" href="#collapse4">
                  <div class="row">
                      <div class="col-md-11">Quais os tipos de entregas disponíveis?  
                      </div>
                      <div class="col-md-1">
                          <img src="/assets/images/ICON_plus.svg" alt="plus">
                      </div>	
                  </div>
              </a>
            </div>
          
           <div id="collapse4" class="collapse text-faq cardFaq" data-parent="#accordion4">
              <div class="card-footer list-group-item-secondary">
                A entrega é realizada pela transportadora especializada no Transporte de Móveis e Decorações e pelo Correios, via Sedex.
                O prazo de entrega varia de acordo com o produto e o fornecedor. O prazo de entrega é somado ao tempo de produção do produto (quando necessário) e o tempo para a realização da entrega. Essas informações estão disponíveis no Carrinho ou nas informações do pedido, na área Minhas Compras.
             
              </div>
            </div> 
            <!-- Bloco de código de faq 4 -->

            <!-- Bloco de código de faq 5 -->
            <div class="card-body col-md-11 list-group-item cardShadow">
                <a class="collapsed card-link" data-toggle="collapse" href="#collapse5">
                    <div class="row">
                        <div class="col-md-11">Posso alterar o endereço de entrega?  
                        </div>
                        <div class="col-md-1">
                            <img src="/assets/images/ICON_plus.svg" alt="plus">
                        </div>	
                    </div>
                </a>
              </div>
            
             <div id="collapse5" class="collapse text-faq cardFaq" data-parent="#accordion5">
                <div class="card-footer list-group-item-secondary">
                  A alteração do endereço de entrega deve ser solicitada em até 24 (vinte e quatro) horas após a conclusão do pedido.  
                  Não é possível alterar o endereço de entrega caso este seja de outra cidade ou estado.
                  Para solicitar a alteração é necessário entrar em contato com a nossa Central de Relacionamento via chat, através do WhatsApp (41) 98754-0480 ou (41) 98754-2675 ou via e-mail sac@lilihome.com.br.
                  Caso não tenha finalizado a compra, você poderá atualizar o endereço de entrega no carrinho de compra ou incluir um novo na área de "Endereço” em “Perfil”.
                  
                </div>
              </div>
            <!-- Bloco de código de faq 5 -->

            <!-- Bloco de código de faq 6 -->
            <div class="card-body col-md-11 list-group-item cardShadow">
                <a class="collapsed card-link" data-toggle="collapse" href="#collapse6">
                    <div class="row">
                        <div class="col-md-11">Qual o horário de entrega do meu pedido?   
                        </div>
                        <div class="col-md-1">
                            <img src="/assets/images/ICON_plus.svg" alt="plus">
                        </div>	
                    </div>
                </a>
              </div>
            
             <div id="collapse6" class="collapse text-faq cardFaq" data-parent="#accordion6">
                <div class="card-footer list-group-item-secondary">
                  As entregas são realizadas pela transportadora, de segunda a sexta-feira, das 8h às 18h. É necessário escolher em qual período do dia deseja receber o pedido, pela manhã ou pela tarde. 
                  As entregas realizadas pelo Correios são feitas de segunda a sexta, das 8h às 18h e aos sábados das 08h às 12h.
                  Não é possível escolher em qual período do dia a entrega será realizada via Correios. 


                  Atenção. É indispensável que no endereço solicitado haja alguém para receber a mercadoria e assinar o comprovante de entrega.

                  Importante: A transportadora não desmonta portas, armários, nem realizam içamentos para que o produto entre no local de entrega, caso haja estas necessidades serão de responsabilidades do Comprador. 
                  O transportador não sobe com a mercadoria por escadas.
                  Caso exista algum tipo de montagem será de responsabilidade do comprador.

                  
                </div>
              </div> 
            <!-- Bloco de código de faq 6 -->

            <!-- Bloco de código de faq 7 -->
            <div class="card-body col-md-11 list-group-item cardShadow">
                <a class="collapsed card-link" data-toggle="collapse" href="#collapse7">
                    <div class="row">
                        <div class="col-md-11">É possível alterar a data da entrega? 
                        </div>
                        <div class="col-md-1">
                            <img src="/assets/images/ICON_plus.svg" alt="plus">
                        </div>	
                    </div>
                </a>
              </div>
            
             <div id="collapse7" class="collapse text-faq cardFaq" data-parent="#accordion7">
                <div class="card-footer list-group-item-secondary">
                  A solicitação de alteração da data de entrega só poderá ser feita em até 24 (vinte e quatro) horas após a realização do pedido.
                  Para solicitar a alteração entre em contato com a nossa Central de Relacionamento via chat, através do WhatsApp (41) 98754-0480 ou (41) 98754-2675 ou via e-mail sac@lilihome.com.br
                  
                </div>
              </div>
            <!-- Bloco de código de faq 7 -->

            <!-- Bloco de código de faq 8 -->
            <div class="card-body col-md-11 list-group-item cardShadow">
                <a class="collapsed card-link" data-toggle="collapse" href="#collapse8">
                    <div class="row">
                        <div class="col-md-11">Por que meu pedido tem prazos de entrega diferentes?  
                        </div>
                        <div class="col-md-1">
                            <img src="/assets/images/ICON_plus.svg" alt="plus">
                        </div>	
                    </div>
                </a>
              </div>
            
             <div id="collapse8" class="collapse text-faq cardFaq" data-parent="#accordion8">
                <div class="card-footer list-group-item-secondary">
                  Pode haver dois motivos:  
                  1) Um dos seus produtos precisa ser fabricado e o outro já está disponível a pronta entrega. 
                  2) Outro motivo para você ver prazos de entrega diferentes é de que um (ou mais) dos seus produtos são de fornecedores distintos.

                  Quando há diferentes prazos de entrega, você pode optar por receber seus produtos em datas diferentes ou receber todos os produtos juntos no maior prazo de entrega, desde que esses sejam do mesmo fornecedor e estejam disponíveis no mesmo tipo de entrega, Frete ou Correios.

                </div>
              </div>
            <!-- Bloco de código de faq 8 -->

            <!-- Bloco de código de faq 9 -->
            <div class="card-body col-md-11 list-group-item cardShadow">
                <a class="collapsed card-link" data-toggle="collapse" href="#collapse9">
                    <div class="row">
                        <div class="col-md-11">Qual é o valor do frete?
                        </div>
                        <div class="col-md-1">
                            <img src="/assets/images/ICON_plus.svg" alt="plus">
                        </div>	
                    </div>
                </a>
              </div>
            
             <div id="collapse9" class="collapse text-faq cardFaq" data-parent="#accordion9">
                <div class="card-footer list-group-item-secondary">
                  Para calcular o frete, basta acessar o produto desejado, inserir o CEP no campo solicitado e clicar em “calcular frete”.

                </div>
              </div>
            <!-- Bloco de código de faq 9 -->

            <!-- Bloco de código de faq 10 -->
            <div class="card-body col-md-11 list-group-item cardShadow">
                <a class="collapsed card-link" data-toggle="collapse" href="#collapse10">
                    <div class="row">
                        <div class="col-md-11">Consigo acompanhar a entrega do meu pedido?  
                        </div>
                        <div class="col-md-1">
                            <img src="/assets/images/ICON_plus.svg" alt="plus">
                        </div>	
                    </div>
                </a>
              </div>
            
             <div id="collapse10" class="collapse text-faq cardFaq" data-parent="#accordion10">
                <div class="card-footer list-group-item-secondary">
                  Sim. Você poderá acompanhar o status da sua entrega por meio dos e-mails que a Lilihome enviará. A cada mudança de status você receberá um e-mail.
                  Também é possível acompanhar pelo site da Lilihome na área Minhas Compras.

                </div>
              </div>
            <!-- Bloco de código de faq 10 -->

            <!-- Bloco de código de faq 11 -->
            <div class="card-body col-md-11 list-group-item cardShadow">
                <a class="collapsed card-link" data-toggle="collapse" href="#collapse11">
                    <div class="row">
                        <div class="col-md-11">Se não tiver ninguém no local para receber meu pedido, o que acontece?  
                        </div>
                        <div class="col-md-1">
                            <img src="/assets/images/ICON_plus.svg" alt="plus">
                        </div>	
                    </div>
                </a>
              </div>
            
             <div id="collapse11" class="collapse text-faq cardFaq" data-parent="#accordion11">
                <div class="card-footer list-group-item-secondary">
                  Entregas via Transportadora: 
                  Entraremos em contato com o cliente para reagendar a entrega. O prazo para a re-entrega é de até 03 (três) dias.
                  Caso não haja ninguém para receber o pedido pela segunda vez, o pedido voltará para o fornecedor e será cancelado. 

                  Entregas via Correios: 
                  Serão realizadas três tentativas de entrega, em dias e horários diferentes.
                  Caso não haja ninguém para receber o pedido pela terceira vez, o pedido voltará para o fornecedor e será cancelado. 


                </div>
              </div>
            <!-- Bloco de código de faq 11 -->

            <!-- Bloco de código de faq 12 -->
            <div class="card-body col-md-11 list-group-item cardShadow">
                <a class="collapsed card-link" data-toggle="collapse" href="#collapse12">
                    <div class="row">
                        <div class="col-md-11">Recebi um produto diferente do comprado, quebrado ou deteriorado. O que devo fazer?  
                        </div>
                        <div class="col-md-1">
                            <img src="/assets/images/ICON_plus.svg" alt="plus">
                        </div>	
                    </div>
                </a>
              </div>
            
             <div id="collapse12" class="collapse text-faq cardFaq" data-parent="#accordion12">
                <div class="card-footer list-group-item-secondary">
                  Correios: Caso receba algum produto diferente do seu pedido, quebrado ou deteriorado recuse a entrega e entre em contato com a nossa Central de Relacionamento via chat, através do WhatsApp (41) 98754-0480 ou (41) 98754-2675 ou via e-mail sac@lilihome.com.br.
                  Se identificar o problema após o recebimento notifique imediatamente nossa Central de Relacionamento. 

                  Transportadora: Caso haja alguma inconformidade nos produtos, informe aos responsáveis pela entrega. O produto ficará sob responsabilidade da transportadora e será enviado novamente para o fornecedor.
                  Se identificar o erro após o recebimento e/ou montagem notifique imediatamente nossa Central de Relacionamento. 

                  No ato da entrega fotografaremos os produtos e as condições que se encontram.

                  Após a avalição do fornecedor, iremos entrar em contato possibilitando as seguintes opções:  

                  a) Aceitar um novo envio do mesmo produto, com um novo prazo de entrega*.
                  b) Utilizar o valor da compra como crédito para realização de novo pedido e aquisição de outros produtos, com um novo prazo de entrega.
                  c) Solicitar o cancelamento da compra e o estorno do valor pago.


                  *Caso o produto devolvido esteja indisponível em nosso estoque, este poderá ser substituído por outra mercadoria que seja do mesmo valor.

                </div>
              </div>
            <!-- Bloco de código de faq 12 -->

            <!-- Bloco de código de faq 13 -->
            <div class="card-body col-md-11 list-group-item cardShadow">
                <a class="collapsed card-link" data-toggle="collapse" href="#collapse13">
                    <div class="row">
                        <div class="col-md-11">Em edifícios, como é realizada a entrega?  
                        </div>
                        <div class="col-md-1">
                            <img src="/assets/images/ICON_plus.svg" alt="plus">
                        </div>	
                    </div>
                </a>
              </div>
            
             <div id="collapse13" class="collapse text-faq cardFaq" data-parent="#accordion13">
                <div class="card-footer list-group-item-secondary">
                  As entregas são realizadas somente pelo elevador.
                  Contudo, para que a entrega aconteça é necessário ficar atento entre as medidas do(s) item(s) adquirido(s) e entre as medidas do prédio (Hall de entrada, corredores, elevadores, etc.). 
                  Existindo a possibilidade de transportar o(s) item(s) adquirido dentro das dependências do edifício, a entrega será realizada.

                </div>
              </div>
            <!-- Bloco de código de faq 13 -->

          </div>  
        </div>          
        
        </div>          
      </div>
    </div>
  </div> 
  </section>
  <!-- Bloco de código da Section -->