<!-- Bloco de código da Section -->
<section> 
    <div class="sizePage">
      <div class="row">
        <div class="col-md-5 col-5"></div>
        <div class="col-md-3 col-3">
          <div class="titleCad"><h1>RECUPERAÇÃO DE SENHA</h1></div>
          <form>  
          <span class="sub-title">Insira sua nova senha</span>  
          <div>	
              <div class="row">    
                <div class="col-md-6 col-12">
                  <input type="text" class="form-control textCad" placeholder="Senha" size="220" name="senha">
                  <div class="col-md-12 border border-bottom border-top-0 border-right-0 border-left-0 borderCad"></div>
                </div>  
                <div class="col-md-6 col-12">
                  <input type="text" class="form-control textCad" placeholder="Repita a Senha" size="220" name="repSenha">
                  <div class="col-md-12 border border-bottom border-top-0 border-right-0 border-left-0 borderCad"></div>
                </div>        
              </div>           
          </div>
          
          <div class="btnContainer">
            <button type="button" class="btn btn-outline-success buttonCad">OK</button>
          </div>
          </form>           
        </div>
        <div class="col-md-4 col-4"></div>
      </div>
    </div>
  </section>
  <!-- Bloco de código da Section -->

