<!-- Bloco de código menu profile -->

<span class="menu-profile-title">
  PERFIL
</span>

<div class="w3-container">

    <div class="w3-bar-block w3-#f1f1f1 menu-profile menu-profile-text">
      <div class="col-md-12 border border-bottom border-top-0 border-right-0 border-left-0"></div>
      <a href="#" [routerLink]="['perfil']" class="w3-bar-item w3-button">
        <div class="row">
          <i class="material-icons">
            chevron_right
          </i>
          MEU PERFIL
        </div>
      </a>
      <div class="col-md-12 border border-bottom border-top-0 border-right-0 border-left-0"></div>
      <a href="#" [routerLink]="['editar-senha']" class="w3-bar-item w3-button">
        <div class="row">
          <i class="material-icons">
            chevron_right
          </i>
          MUDAR SENHA
        </div>
      </a>
      <div class="col-md-12 border border-bottom border-top-0 border-right-0 border-left-0"></div>
      <a href="#" [routerLink]="['sair']" class="w3-bar-item w3-button">
        <div class="row">
          <i class="material-icons">
            chevron_right
          </i>
          SAIR
        </div>
      </a>
      <div class="col-md-12 border border-bottom border-top-0 border-right-0 border-left-0"></div>
    </div>

</div>

<!-- Bloco de código menu profile -->
