.menu-profile{
  width: 197px;
  padding-top: 5%;
}

.menu-profile-text{
  color: #787878;
  font-family: 'LILIHOME-Open Sans';
  font-size: 12px;
  line-height: 22px;
}

.menu-profile-title{
  color: #00AD90;
  font-family: 'LILIHOME-Antonio';
  font-size: 30px;
  line-height: 42px;
  margin-left: 6%;
}

.menu-profile-icon{
  
}
