<!-- Bloco de código da Section -->
<section>
  <div id="escritorio"></div>
  <div class="row page-categorias">
  <div class="col-md-3"></div>
  <div class="col-md-6">
    <div class="titlePage">ESCRITÓRIO</div>

      <!-- Bloco de código da galeria do escritório -->
      <br>
      <div class="titleCategorias"><p>ESCRITÓRIO</p></div>
         <div class="descCategoria">
          O lugar onde a expertise e refinamento se encontram.
          </div>
           <br>


        <div class="container col-md-12 container-categorias">
        <img src="assets/images/banner-categoria-escritorio.png" alt="Escritório" class="card-img-categorias">

       <div class="w3-container row">

        <!-- Bloco de código da imagem 1 -->
        <div class="col-md-3 col-sm-12 col-12">
          <div class="w3-card card-categorias">
            <a routerLink="/lista-de-produtos" pageScroll href="#lista-de-produtos">
              <img src="/assets/images/CADEIRA-GIRATORIA-GENOVA.png" alt="Cadeira Giratória Genova" class="card-img-categorias">
            </a>
            <div class="w3-container card-text-categorias">
              <a class="text-muted" routerLink="/lista-de-produtos" pageScroll href="#lista-de-produtos">
                <span>Cadeiras</span>
              </a>
          </div>
        </div>
      </div>
        <!-- Bloco de código da imagem 1 -->

        <!-- Bloco de código da imagem 2 -->
        <div class="col-md-3 col-sm-12 col-12">
          <div class="w3-card card-categorias">
            <a routerLink="/lista-de-produtos" pageScroll href="#lista-de-produtos">
              <img src="/assets/images/Aparador-Bento.png" alt="Aparador Bento" class="card-img-categorias">
            </a>
            <div class="w3-container card-text-categorias">
              <a class="text-muted" routerLink="/lista-de-produtos" pageScroll href="#lista-de-produtos">
                <span>Aparadores</span>
              </a>
            </div>
          </div>
        </div>
        <!-- Bloco de código da imagem 2 -->

        <!-- Bloco de código da imagem 3 -->
        <div class="col-md-3 col-sm-12 col-12">
          <div class="w3-card card-categorias">
            <a routerLink="/lista-de-produtos" pageScroll href="#lista-de-produtos">
              <img src="/assets/images/Cadeira-Net-Junco.png" alt="Cadeira Net Junco" class="card-img-categorias">
            </a>
            <div class="w3-container card-text-categorias">
              <a class="text-muted" routerLink="/lista-de-produtos" pageScroll href="#lista-de-produtos">
                <span>Cadeiras</span>
              </a>
            </div>
          </div>
        </div>
          <!-- Bloco de código da imagem 3 -->

          <!-- Bloco de código da imagem 4 -->
          <div class="col-md-3 col-sm-12 col-12">
            <div class="w3-card card-categorias">
              <a routerLink="/lista-de-produtos" pageScroll href="#lista-de-produtos">
                <img src="/assets/images/Poltrona-Inspira.png" alt="Poltrona Inspira" class="card-img-categorias">
              </a>
              <div class="w3-container card-text-categorias">
                <a class="text-muted" routerLink="/lista-de-produtos" pageScroll href="#lista-de-produtos">
                  <span>Poltronas</span>
                </a>
            </div>
          </div>
          </div>
          <!-- Bloco de código da imagem 4 -->
      </div>
           </div>
      <!-- Bloco de código da galeria do escritório -->

    </div>
</div>
</section>
<!-- Bloco de código da Section -->
