<!-- Bloco de código da Section -->
<section> 
<div class="sizePage">     
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">        

      <div class="titlePage"><h1>ARREPENDIMENTO</h1></div>
      <div class="titlePage2">Tudo que você precisa saber sobre arrependimento em respostas rápidas.</div>
      <div class="textPage">								
          <br>
      <!-- Bloco de código de faq 1 -->
      <div id="accordion">
      <div class="card col-md-12 list-group">       
          <div class="card-body col-md-11 list-group-item cardShadow">
            <a class="collapsed card-link" data-toggle="collapse" href="#collapse1">
                <div class="row">
                    <div class="col-md-11">Recebi o produto, mas me arrependi da compra, o que eu faço?</div>
                    <div class="col-md-1">
                        <img src="/assets/images/ICON_plus.svg" alt="plus">
                    </div>	
                </div>
            </a>
          </div>
        
         <div id="collapse1" class="collapse text-faq cardFaq" data-parent="#accordion">
            <div class="card-footer list-group-item-secondary">
                De acordo com o artigo 49 do Código de Defesa do Consumidor, nas compras realizadas fora do estabelecimento comercial, 
                o consumidor tem até 7 (sete) dias corridos para se arrepender da compra e comunicar a desistência ao fornecedor.
                
                Em caso de arrependimento você pode solicitar a devolução do produto.
                A solicitação deve ser feita em até 07 (sete) dias corridos após a entrega e montagem (quando houver) do produto.
                Para realizar a devolução é preciso realizar o pagamento do frete. 
                O boleto referente ao valor do frete será enviado ao e-mail cadastrado.
                
                Transportadora: A após a compensação do pagamento do frete o prazo de recolhimento pela transportadora 
                será de até 10 (dez) dias úteis.
                A transportadora realizará o recolhimento do(s) produtos(s) entregue(s) por ela.
                Produto(s) entregue(s) via Correios, deverão ser enviados para a fábrica no modo de Logística Reversa, 
                sem custo para o cliente.
                
                A Nota Fiscal do pedido deverá ser entregue para a transportadora no momento do recolhimento do pedido 
                ou anexada na embalagem do Correios.
                
                A mercadoria deve ser devolvida ao fabricante em suas embalagens originais (interna/externa quando for o caso), 
                sem que tenha sido utilizada e com o manual/acessórios que a acompanham.
                
                Caso os requisitos acima não sejam preenchidos, a Lilihome não estará obrigada a aceitar o cancelamento da compra. 
                Nesse caso, o produto recolhido pela transportadora ou enviado pelos correios será devolvido no endereço de entrega, 
                acompanhado de relatório sobre o problema constatado, sem a restituição de valores, e todo o processo de devolução será cancelado.  
                
                O direito de arrependimento leva ao cancelamento da compra e, assim como o consumidor recebe restituição dos valores pagos, 
                o fornecedor deve de receber o produto intacto, em condições de ser novamente vendido, 
                não sendo admitido qualquer indício de uso ou avaria do produto, de seus componentes ou de suas embalagens (quando houver).
                
                A devolução do produto só poderá ser solicitada através de nossa Central de Relacionamento, 
                através do número ***, WhatsApp (41) 98754-0480 ou (41) 98754-2675 ou via e-mail sac@lilihome.com.br 
            </div>
          </div>
        </div>  
      </div>      
     </div>
          <!-- Bloco de código de faq 1 -->        
                  
  </div>    
  </div>
</div> 
</section>
<!-- Bloco de código da Section -->
