<!-- Bloco de código da Section -->
<section> 
  <div class="sizePage">
    <div class="row">
      <div class="col-md-5 col-5"></div>
      <div class="col-md-2 col-2">
        <div class="titleCad"><h1>ENTRE</h1></div>
        <form>  
          
        <div>	
            <div class="row">    
              <div><input type="text" class="form-control inputCad" placeholder="E-mail" name="email"></div>         
            </div>
            <div class="col-md-12 border border-bottom border-top-0 border-right-0 border-left-0 borderCad"></div> 
            <span class="textAlert">Esse e-mail não está cadastrado.</span>
        </div>

        
        <div class="">
          <button type="button" class="btn btn-outline-success buttonCad">
            <span>CONTINUE PARA CADASTRO</span><img src="assets/images/ICON_bullet_seta.png" alt="Seta direita" class="seta-entre">                          
          </button>
        </div>
        </form> 
        
      </div>
      <div class="col-md-4 col-4"></div>
    </div>
  </div>
</section>
<!-- Bloco de código da Section -->
