<!-- Bloco de código da Section -->
<section> 
  <div class="cardComponent sizePage">     
    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-6">        
  
        <div class="titlePage"><h1>PAGAMENTOS</h1></div>
        <div class="titlePage2">Tudo que você precisa saber sobre pagamentos em respostas rápidas.</div>
        <div class="textPage">								
            <br>
                
        <!-- Bloco de código de faq -->        
        <div id="accordion1">
        <div class="card col-md-12 list-group">  
          <!-- Bloco de código de faq 1-->     
            <div class="card-body col-md-11 list-group-item cardShadow">
              <a class="collapsed card-link" data-toggle="collapse" href="#collapse1">
                  <div class="row">
                      <div class="col-md-11">Recebi um e-mail informando que meu pedido está “Em Processamento”. O que significa?</div>
                      <div class="col-md-1">
                          <img src="/assets/images/ICON_plus.svg" alt="plus">
                      </div>	
                  </div>
              </a>
            </div>
          
           <div id="collapse1" class="collapse text-faq cardFaq" data-parent="#accordion1">
              <div class="card-footer list-group-item-secondary">
                Após a realização do pagamento via Boleto, é necessário aguardar até 72 horas úteis para a compensação do pagamento. A confirmação de pagamento de boletos pagos aos finais de semana ocorre até o 2º dia útil após o pagamento.  
                Para compras via Cartão de Crédito, é necessário aguardar até 24 horas após o pagamento. 
                Esse é o tempo de processamento necessário para a confirmação do pagamento junto ao banco.

              </div>
            </div>
            <!-- Bloco de código de faq 1-->

            <!-- Bloco de código de faq 2-->
            <div class="card-body col-md-11 list-group-item cardShadow">
              <a class="collapsed card-link" data-toggle="collapse" href="#collapse2">
                  <div class="row">
                      <div class="col-md-11">Como fico sabendo que o meu pedido foi aprovado?</div>
                      <div class="col-md-1">
                          <img src="/assets/images/ICON_plus.svg" alt="plus">
                      </div>	
                  </div>
              </a>
            </div>
          
           <div id="collapse2" class="collapse text-faq cardFaq" data-parent="#accordion2">
              <div class="card-footer list-group-item-secondary">
                É possível acompanhar sua compra clicando em "Meus Pedidos" no nosso site.
                Também será enviado um e-mail de confirmação de pagamento.
                
              </div>
            </div>
            <!-- Bloco de código de faq 2-->

            <!-- Bloco de código de faq 3-->
            <div class="card-body col-md-11 list-group-item cardShadow">
              <a class="collapsed card-link" data-toggle="collapse" href="#collapse3">
                  <div class="row">
                      <div class="col-md-11">Posso alterar a forma de pagamento de um pedido realizado? </div>
                      <div class="col-md-1">
                          <img src="/assets/images/ICON_plus.svg" alt="plus">
                      </div>	
                  </div>
              </a>
            </div>
          
           <div id="collapse3" class="collapse text-faq cardFaq" data-parent="#accordion3">
              <div class="card-footer list-group-item-secondary">
                Por motivos de segurança não é possível alterar a forma de pagamento de um pedido já realizado.
                É necessário cancelar o pedido e realizar um novo com outra forma de pagamento desejada. O cancelamento deverá ser solicitado poderá através de nossa Central de Relacionamento por WhatsApp nos números (41) 98754-0480 ou (41) 98454-2675, ou por meio do e-mail sac@lilihome.com.br.

              </div>
            </div>
            <!-- Bloco de código de faq 3-->

            <!-- Bloco de código de faq 4-->
            <div class="card-body col-md-11 list-group-item cardShadow">
                <a class="collapsed card-link" data-toggle="collapse" href="#collapse4">
                    <div class="row">
                        <div class="col-md-11">Quais os meios de pagamento disponíveis?</div>
                        <div class="col-md-1">
                            <img src="/assets/images/ICON_plus.svg" alt="plus">
                        </div>	
                    </div>
                </a>
              </div>
            
             <div id="collapse4" class="collapse text-faq cardFaq" data-parent="#accordion4">
                <div class="card-footer list-group-item-secondary">
                  Você pode efetuar o pagamento das suas compras de duas maneiras: 
                  Boleto Bancário ou Cartão de Crédito.  
                  Boleto Bancário: No boleto, você efetua o pagamento à vista. 
                  É possível imprimir o documento e efetuar o pagamento em qualquer agência bancária, Casa Lotérica ou pelo Internet Banking. A Lilihome será notificada assim que o pagamento for compensado e informaremos aos fornecedores. 
                  O boleto estará disponível no site da Lilihome, na área Minhas Compras, e também será enviado um e-mail com o boleto e as informações do pedido.


                  Cartão de Crédito: Você pode parcelar o pagamento da sua compra em até 06 (seis) vezes sem juros.
                  As bandeiras aceitas são:  Visa, MasterCard, Elo, American Express, Aura, Dinner’s Club, Hipercard e Discover Network. 
                  
                </div>
              </div>
            <!-- Bloco de código de faq 4-->

            <!-- Bloco de código de faq 5 -->
                 
            <div class="card-body col-md-11 list-group-item cardShadow">
              <a class="collapsed card-link" data-toggle="collapse" href="#collapse5">
                  <div class="row">
                      <div class="col-md-11">Posso efetuar o pagamento com dois Cartões de Crédito?  
                      </div>
                      <div class="col-md-1">
                          <img src="/assets/images/ICON_plus.svg" alt="plus">
                      </div>	
                  </div>
              </a>
            </div>
          
           <div id="collapse5" class="collapse text-faq cardFaq" data-parent="#accordion5">
              <div class="card-footer list-group-item-secondary">
                Não. No momento não é possível pagar com dois cartões.
              </div>
            </div> 
            <!-- Bloco de código de faq 5 -->

            <!-- Bloco de código de faq 6 -->
            <div class="card-body col-md-11 list-group-item cardShadow">
                <a class="collapsed card-link" data-toggle="collapse" href="#collapse6">
                    <div class="row">
                        <div class="col-md-11">A Lilihome envia boleto por e-mail?  
                        </div>
                        <div class="col-md-1">
                            <img src="/assets/images/ICON_plus.svg" alt="plus">
                        </div>	
                    </div>
                </a>
              </div>
            
             <div id="collapse6" class="collapse text-faq cardFaq" data-parent="#accordion6">
                <div class="card-footer list-group-item-secondary">
                  Sim. Após efetuar a compra você poderá ter acesso ao boleto diretamente no site ou em seu e-mail. Enviaremos o boleto e as informações do seu pedido para o e-mail cadastrado.
                </div>
              </div>
            <!-- Bloco de código de faq 6 -->

            <!-- Bloco de código de faq 7 -->
            <div class="card-body col-md-11 list-group-item cardShadow">
                <a class="collapsed card-link" data-toggle="collapse" href="#collapse7">
                    <div class="row">
                        <div class="col-md-11">Meu boleto venceu e eu não efetuei o pagamento. Meu pedido ainda está válido?    
                        </div>
                        <div class="col-md-1">
                            <img src="/assets/images/ICON_plus.svg" alt="plus">
                        </div>	
                    </div>
                </a>
              </div>
            
             <div id="collapse7" class="collapse text-faq cardFaq" data-parent="#accordion7">
                <div class="card-footer list-group-item-secondary">
                  Não. O pagamento deve ser realizado em até 72 hora após a compra, conforme a data de vencimento informada no boleto bancário.  Não é possível realizar o pagamento após o vencimento. Se o pagamento não for identificado em até 72 horas o pedido será cancelado.
                  Em caso de dúvidas entre em contato com a nossa Central de Relacionamento Central de Relacionamento por WhatsApp nos números (41) 98754-0480 ou (41) 98454-2675, ou por meio do e-mail sac@lilihome.com.br.

                  
                </div>
              </div> 
            <!-- Bloco de código de faq 7 -->            
          </div>  
        </div>          
        
        </div>          
      </div>
    </div>
  </div> 
  </section>
  <!-- Bloco de código da Section -->
