<!-- Bloco de código da Section -->
<section> 
  <div class="cardComponent sizePage">     
    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-6">        
  
        <div class="titlePage"><h1>POLÍTICA DE PRIVACIDADE</h1></div>
        <div class="textPage">As informações coletadas são utilizadas para proporcionar uma melhor experiência de navegação do site. Nossa política de privacidade tem por objetivo esclarecer todo o uso das informações. Visitando a www.lilihome.com.br, você está de acordo com as práticas descritas em nossa política de privacidade:

          https://lilibox.com.br/home/privacidade
          </div>       
        </div>          
    </div>
  </div> 
  </section>
  <!-- Bloco de código da Section -->