<!-- Bloco de código da Section -->
<section> 
  <div class="cardComponent sizePage">     
    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-6">        
  
        <div class="titlePage"><h1>GARANTIA</h1></div>
        <div class="titlePage2">Tudo que você precisa saber sobre garantia em respostas rápidas.</div>
        <div class="textPage">								
            <br>
                
        <!-- Bloco de código de faq -->        
        <div id="accordion1">
        <div class="card col-md-12 list-group">  
          <!-- Bloco de código de faq 1-->     
            <div class="card-body col-md-11 list-group-item cardShadow">
              <a class="collapsed card-link" data-toggle="collapse" href="#collapse1">
                  <div class="row">
                      <div class="col-md-11">Tenho garantia dos produtos comprados?</div>
                      <div class="col-md-1">
                          <img src="/assets/images/ICON_plus.svg" alt="plus">
                      </div>	
                  </div>
              </a>
            </div>
          
           <div id="collapse1" class="collapse text-faq cardFaq" data-parent="#accordion1">
              <div class="card-footer list-group-item-secondary">
                Todos os produtos vendidos pela Lilihome têm garantia de 90 (noventa) dias. 
                Produtos com deterioração causados por mau uso não são cobertos pela garantia.
                Em caso de dúvidas entre em contato com a nossa Central de Relacionamento por WhatsApp nos números (41) 98754-0480 ou (41) 98454-2675, ou por meio do e-mail sac@lilihome.com.br.

              </div>
            </div>
            <!-- Bloco de código de faq 1-->                                 
          </div>  
        </div>          
        
        </div>          
      </div>
    </div>
  </div> 
  </section>
  <!-- Bloco de código da Section -->
