<!-- Bloco de código da Section -->
<section> 
  <div class="cardComponent sizePage">     
    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-6">        
  
        <div class="titlePage"><h1>SOBRE A LILIHOME</h1></div>
        <div class="textPage">A Lilihome é o primeiro marketplace de móveis de luxo e alta decoração do Brasil.
          Trabalhamos com os mais importantes e exclusivos Fornecedores do país.
          Buscamos aliar preço, entrega e facilidade em uma plataforma avançada de e-commerce. 
          Queremos oferecer a melhor experiência de compra online na venda de decoração e móveis de alto luxo. Inovação, tecnologia e marketing B2C fazem da Lilihome um diferencial. Com objetivos arrojados, caminhamos em direção ao futuro para que  vendamos alta decoração e móveis de luxo com valores justos.
        </div>
        <div class="titlePage2">MISSÃO</div>
          <div class="textPage">	
            Inovar o modo de compra online, agregando as pessoas uma vida com mais estilo, luxo e facilidade.                           
          </div> 
          
          <div class="titlePage2">VISÃO</div>
          <div class="textPage">								
            Ser referência mundial em experiência de compra online no segmento de móveis e decoração.                          
          </div>

          <div class="titlePage2">VALORES</div>
          <div class="textPage">								
            Paixão. Inovação. Tecnologia de Ponta. Resultados e Objetivos Rápidos. Valorização das Pessoas. Agilidade. Facilidade.                         
          </div>
        </div>          
    </div>
  </div> 
  </section>
  <!-- Bloco de código da Section -->


