<!-- Bloco de código do Header -->
<header class="navHeader">
    <!-- Bloco de código de nav com menu -->
    <div class="navBack">
        <nav class="navbar navbar-expand-md ">
        <!-- Brand -->
        <a class="navbar-brand" href="#" routerLink="/"><img src="assets/images/LOGO_lilihome.png"></a>

            <ul class="nav navbar-nav">
            <li><a class="nav-link dropdown text-dark" href="#" id="navbardrop" data-toggle="dropdown">MÓVEIS</a>
            <div class="listItem menu dropdown-menu">
                <div class="row">
                    <div class="col-md-3 title navHeader1">
                        <a class="text-body" routerLink="/categorias.produtos" pageScroll href="#areaExt">Área Externa</a>
                    </div>

                    <div class="col-md-3 title navHeader1">
                        <a class="text-body" routerLink="/categorias.produtos" pageScroll href="#sala-estar">Sala de Estar</a>
                    </div>
                    <div class="col-md-3 title navHeader1">
                        <a class="text-body" routerLink="/categorias.produtos" pageScroll href="#escritorio">Escritório</a>
                    </div>
                    <div class="col-md-3 title navHeader1">
                        <a class="text-body" routerLink="/categorias.produtos" pageScroll href="#sala-jantar">Sala de Jantar</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3 navHeader1">
                        <a class="text-muted" routerLink="/lista-de-produtos" id="cadeiras">Cadeiras</a>
                    </div>

                    <div class="col-md-3 navHeader1">
                        <a class="text-muted" routerLink="/lista-de-produtos">Estofados</a>
                    </div>
                    <div class="col-md-3 navHeader1">
                        <a class="text-muted" routerLink="/lista-de-produtos">Cadeiras</a>
                    </div>

                    <div class="col-md-3 navHeader1">
                        <a class="text-muted" routerLink="/lista-de-produtos">Mesas de Centro</a>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-3 navHeader1">
                        <a class="text-muted" routerLink="/lista-de-produtos">Poltronas</a>
                    </div>

                    <div class="col-md-3 navHeader1">
                        <a class="text-muted" routerLink="/lista-de-produtos">Estofados em Couro</a>
                    </div>
                    <div class="col-md-3 navHeader1">
                        <a class="text-muted" routerLink="/lista-de-produtos">Poltronas</a>
                    </div>

                    <div class="col-md-3 navHeader1">
                        <a class="text-muted" routerLink="/lista-de-produtos">Mesas Laterais</a>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-3 navHeader1">
                        <a class="text-muted" routerLink="/lista-de-produtos">Mesas</a>
                    </div>

                    <div class="col-md-3 navHeader1">
                        <a class="text-muted" routerLink="/lista-de-produtos">Aparadores</a>
                    </div>
                    <div class="col-md-3 navHeader1">
                        <a class="text-muted" routerLink="/lista-de-produtos">Mesas</a>
                    </div>

                    <div class="col-md-3 navHeader1">
                        <a class="text-muted" routerLink="/lista-de-produtos"></a>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-3 navHeader1">
                        <a class="text-muted" routerLink="/lista-de-produtos">Banquetas</a>
                    </div>

                    <div class="col-md-3 navHeader1">
                        <a class="text-muted" routerLink="/lista-de-produtos">Cadeiras</a>
                    </div>
                    <div class="col-md-3 navHeader1">
                        <a class="text-muted" routerLink="/lista-de-produtos">Cozinha</a>
                    </div>

                    <div class="col-md-3 title navHeader1">
                        <a class="text-body" routerLink="/categorias.produtos" pageScroll href="#dormitorio">Dormitório</a>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-3 navHeader1">
                        <a class="text-muted" href="#"></a>
                    </div>

                    <div class="col-md-3 navHeader1">
                        <a class="text-muted" routerLink="/lista-de-produtos">Chaises</a>
                    </div>
                    <div class="col-md-3 navHeader1">
                        <a class="text-muted" routerLink="/lista-de-produtos">Cadeiras</a>
                    </div>

                    <div class="col-md-3 navHeader1">
                        <a class="text-muted" routerLink="/lista-de-produtos">Armários</a>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-3 navHeader1">
                        <a class="text-muted" href="#"></a>
                    </div>

                    <div class="col-md-3 navHeader1">
                        <a class="text-muted" routerLink="/lista-de-produtos">Estantes</a>
                    </div>
                    <div class="col-md-3 navHeader1">
                        <a class="text-muted" routerLink="/lista-de-produtos">Mesas</a>
                    </div>

                    <div class="col-md-3 navHeader1">
                        <a class="text-muted" routerLink="/lista-de-produtos">Cômodas</a>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-3 navHeader1">
                        <a class="text-muted" href="#"></a>
                    </div>

                    <div class="col-md-3 navHeader1">
                        <a class="text-muted" routerLink="/lista-de-produtos">Racks</a>
                    </div>
                    <div class="col-md-3 navHeader1">
                        <a class="text-muted" routerLink="/lista-de-produtos">Banquetas</a>
                    </div>

                    <div class="col-md-3 navHeader1">
                        <a class="text-muted" href="#"></a>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-3 navHeader1">
                        <a class="text-muted" href="#"></a>
                    </div>

                    <div class="col-md-3 navHeader1">
                        <a class="text-muted" routerLink="/lista-de-produtos">Painéis</a>
                    </div>
                    <div class="col-md-3 navHeader1">
                        <a class="text-muted" href="#"></a>
                    </div>

                    <div class="col-md-3 navHeader1">
                        <a class="text-muted" href="#"></a>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-3 navHeader1">
                        <a class="text-muted" href="#"></a>
                    </div>

                    <div class="col-md-3 navHeader1">
                        <a class="text-muted" routerLink="/lista-de-produtos">Cristaleiras</a>
                    </div>
                    <div class="col-md-3 navHeader1">
                        <a class="text-muted" href="#"></a>
                    </div>

                    <div class="col-md-3 navHeader1">
                        <a class="text-muted" href="#"></a>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-3 navHeader1">
                        <a class="text-muted" href="#"></a>
                    </div>

                    <div class="col-md-3 navHeader1">
                        <a class="text-muted" routerLink="/lista-de-produtos">Poltronas</a>
                    </div>
                    <div class="col-md-3 navHeader1">
                        <a class="text-muted" href="#"></a>
                    </div>

                    <div class="col-md-3 navHeader1">
                        <a class="text-muted" href="#"></a>
                    </div>
                </div>

                </div>
            </li>

            <li class="nav-item">
                <a class="nav-link dropdown text-dark" href="#" id="navbardrop2" data-toggle="dropdown">ILUMINAÇÃO</a>
                <div class="listItem menu2 dropdown-menu">

                    <div class="row">
                        <div class="col-md-3 navHeader1">
                            <a class="text-muted" routerLink="/lista-de-produtos">Abajur</a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3 navHeader1">
                            <a class="text-muted" routerLink="/lista-de-produtos">Luminárias</a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3 navHeader1">
                            <a class="text-muted" routerLink="/lista-de-produtos">Luminárias de Teto</a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3 navHeader1">
                            <a class="text-muted" routerLink="/lista-de-produtos">Candelabros</a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3 navHeader1">
                            <a class="text-muted" routerLink="/lista-de-produtos">Lustres</a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3 navHeader1">
                            <a class="text-muted" routerLink="/lista-de-produtos">Arandelas</a>
                        </div>
                    </div>

                </div>

            </li>
            <li class="nav-item">
                <a class="nav-link dropdown text-dark" href="#" id="navbardrop3" data-toggle="dropdown">TÊXTIL</a>

                <div class="listItem menu3 dropdown-menu">

                    <div class="row">
                        <div class="col-md-3 navHeader1">
                            <a class="text-muted" routerLink="/lista-de-produtos">Cortinas</a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3 navHeader1">
                            <a class="text-muted" routerLink="/lista-de-produtos">Almofadas</a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3 navHeader1">
                            <a class="text-muted" routerLink="/lista-de-produtos">Capas de almofadas</a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3 navHeader1">
                            <a class="text-muted" routerLink="/lista-de-produtos">Xales de sofá</a>
                        </div>
                    </div>

                </div>

            </li>
            <li class="nav-item">
                <a class="nav-link dropdown text-dark" href="#" id="navbardrop4" data-toggle="dropdown">DECORAÇÃO</a>
                <div class="listItem menu4 dropdown-menu">
                    <div class="row">
                        <div class="col-md-3 title navHeader1">
                            <a class="text-body" routerLink="/categorias.decoracao" pageScroll href="#casa">Casa</a>
                        </div>
                        <div class="col-md-3 title navHeader1">
                            <a class="text-body" routerLink="/categorias.decoracao" pageScroll href="#casa">Casa</a>
                        </div>
                        <div class="col-md-3 title navHeader1">
                            <a class="text-body" routerLink="/categorias.decoracao" pageScroll href="#escritorio">Escritório</a>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-3 navHeader1">
                            <a class="text-muted" routerLink="/lista-de-produtos">Espelho</a>
                        </div>
                        <div class="col-md-3 navHeader1">
                            <a class="text-muted" routerLink="/lista-de-produtos">Escultura</a>
                        </div>
                        <div class="col-md-3 navHeader1">
                            <a class="text-muted" routerLink="/lista-de-produtos">Relógio</a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3 navHeader1">
                            <a class="text-muted" routerLink="/lista-de-produtos">Mesas</a>
                        </div>
                        <div class="col-md-3 navHeader1">
                            <a class="text-muted" routerLink="/lista-de-produtos">Castiçal/Porta vela</a>
                        </div>
                        <div class="col-md-3 navHeader1">
                            <a class="text-muted" routerLink="/lista-de-produtos">Vaso</a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3 navHeader1">
                            <a class="text-muted" routerLink="/lista-de-produtos">Bandeja</a>
                        </div>
                        <div class="col-md-3 navHeader1">
                            <a class="text-muted" routerLink="/lista-de-produtos">Pote/Garrafa</a>
                        </div>
                        <div class="col-md-3 navHeader1">
                            <a class="text-muted" routerLink="/lista-de-produtos">Tapete</a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3 navHeader1">
                            <a class="text-muted" routerLink="/lista-de-produtos">Almofada</a>
                        </div>
                        <div class="col-md-3 navHeader1">
                            <a class="text-muted" routerLink="/lista-de-produtos">Fruteira/Taça</a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3 navHeader1">
                            <a class="text-muted" routerLink="/lista-de-produtos">Vasos/Mesas de centro</a>
                        </div>
                        <div class="col-md-3 navHeader1">
                            <a class="text-muted" routerLink="/lista-de-produtos">Bar</a>
                        </div>
                    </div>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link dropdown text-dark" href="#" id="navbardrop5" data-toggle="dropdown">ESCRITÓRIO</a>
                <div class="listItem menu5 dropdown-menu">
                    <div class="row">
                        <div class="col-md-3 title navHeader1">
                            <a class="text-body" routerLink="/categorias.escritorio" pageScroll href="#escritorio">Escritório</a>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-3 navHeader1">
                            <a class="text-muted" routerLink="/lista-de-produtos">Cadeiras</a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3 navHeader1">
                            <a class="text-muted" routerLink="/lista-de-produtos">Poltronas</a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3 navHeader1">
                            <a class="text-muted" routerLink="/lista-de-produtos">Mesas</a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3 navHeader1">
                            <a class="text-muted" routerLink="/lista-de-produtos">Banquetas</a>
                        </div>
                    </div>
                </div>


            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">ON SALE</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="https://lilihome248838946.wordpress.com/" target="_blank">BLOG</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" routerLink="/login">FAÇA LOGIN</a>
            </li>
            <li class="nav-item">
                <div class="nav-link">|</div>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" routerLink="/cadastro">CADASTRE-SE</a>
            </li>
                </ul>
        </nav>
    </div>
  <div class="col-md-12"><br></div>
  <div class="col-md-2"></div>
    <div class="divBorder  col-md-7 head">
      <div class="searchMenu row">
        <div class="col-md-11 "><input type="text" class="form-control input1" placeholder="O QUE VOCÊ PROCURA?" size="220"></div>
        <div class="col-md-1"><img src="assets/images/icons/ICON_busca.png"></div>
      </div>
      <div class="col-md-12 border border-bottom border-top-0 border-right-0 border-left-0"></div>
    </div>
  <div class="col-md-2"><br></div>
	<!-- Bloco de código de nav com menu -->
</header>
<!-- Fim do Bloco de código do Header -->
