.card-categorias{
    width:auto;
}

.card-img-categorias{
    width:100%; 
    padding-left: 0px;
}

.card-text-categorias{
    text-align: center;
    padding-bottom: 10%;
}

.page-categorias{
    padding-bottom: 5%;
    padding-top: 2%;
}

.container-categorias{
    padding-bottom: 1%;  
}