<!-- Bloco de código da Section -->
<section> 
    <div class="sizePage">
      <div class="row">
        <div class="col-md-5 col-5"></div>
        <div class="col-md-3 col-3">
          <div class="titleCad"><h1>LOGIN</h1></div>
          <form>  
            
          <div>	
              <div class="row">    
                <div><input type="text" class="form-control inputCad" placeholder="E-mail" size="220" name="email"></div>         
              </div> 
            <div class="col-md-12 border border-bottom border-top-0 border-right-0 border-left-0 borderCad"></div> 
          </div>
  
          <div>	
              <div class="row">    
                  <div><input type="text" class="form-control textCad" placeholder="Senha" size="220" name="senha"></div>                        
              </div>   
              <div class="col-md-12 border border-bottom border-top-0 border-right-0 border-left-0 borderCad"></div>        
          </div>
          
          <div class="btnContainer">
            <button type="button" class="btn btn-outline-success buttonCad" routerLink="/profile">
              Entrar
            </button>
          </div>
          </form> 
          <br> 
          <div class="textPerguntas">
            <span>Não tem uma conta ainda?</span>
            <span><a routerLink="/cadastro">Cadastre-se</a></span>
          </div>
          <div class="textPerguntas">
              <span>Esqueceu a senha?</span>
              <span><a routerLink="/recuperacao.senha">Faça uma nova</a></span>
          </div>
        </div>
        <div class="col-md-4 col-4"></div>
      </div>
    </div>
  </section>
  <!-- Bloco de código da Section -->
