<!-- Bloco de código do rodapé -->

        <div class="styleFooter col-md-12">
            <div class="container">
                <div class="row">
              <div class="styleImgFooter col-md-2">
                <div class="row">
                <div class="col-md-2">
                  <img src="assets/images/icons/ICON_face.svg" alt="facebook">
                </div>

                <div class="col-md-2">
                <img src="assets/images/icons/ICON_insta.svg" alt="instagram">
                </div>

                <div class="col-md-2">
                  <img src="assets/images/icons/ICON_twitter.svg">
                </div>
              </div>
            </div>

              <div class="col-md-2">
                <div class="titleFooter">INSTITUCIONAL</div>
                <div class="textFooter"><a routerLink="/sobre">SOBRE A LILIHOME</a></div>
                <div class="textFooter"><a routerLink="/politica.privacidade">POLÍTICA DE PRIVACIDADE</a></div>
                <div class="textFooter"><a routerLink="/trabalhe.conosco">TRABALHE CONOSCO</a></div>
              </div>

              <div class="col-md-2">
                <div class="titleFooter">AJUDA</div>
                <div class="textFooter"><a routerLink="/entregas">ENTREGAS</a></div>
                <div class="textFooter"><a routerLink="/pagamentos">PAGAMENTOS</a></div>
                <div class="textFooter"><a routerLink="/arrependimento">ARREPENDIMENTO</a></div>
                <div class="textFooter"><a routerLink="/cancelamentos">CANCELAMENTOS</a></div>
                <div class="textFooter"><a routerLink="/logistica.reversa">LOGÍSTICA REVERSA</a></div>
                <div class="textFooter"><a routerLink="/nota.fiscal">NOTA FISCAL</a></div>
                <div class="textFooter"><a routerLink="/garantia">GARANTIA</a></div>
                <div class="textFooter"><a routerLink="/loja">LOJA</a></div>
                <div class="textFooter"><a routerLink="/compra">COMPRA</a></div>
                <div class="textFooter"><a routerLink="/senha">SENHA</a></div>
                <div class="textFooter"><a routerLink="/frete">FRETE GRÁTIS</a></div>

              </div>
               <div class="col-md-4 col-12">
                  <div class="titleFooter">FORMAS DE PAGAMENTO</div>
                  <div class="">
                      <div class="row">
                      <div class="col-md-3 col-2 col-sm-2 imgCards1">
                          <img src="assets/images/icons/ICON_card_diners2.svg" alt="Dinners">
                      </div>

                      <div class="col-md-3 col-2 col-sm-2 imgCards2">
                          <img src="assets/images/icons/ICON_card_amex1.svg" alt="Amex">
                      </div>

                      <div class="col-md-3 col-2 col-sm-2 imgCards3">
                          <img src="assets/images/icons/ICON_card_master1.svg" alt="Mastercard">
                      </div>

                      <div class="col-md-3 col-2 col-sm-2 imgCards3">
                          <img src="assets/images/icons/ICON_card_visa1.svg" alt="Visa">
                      </div>
                      <div class="col-md-3 col-2 col-sm-2 imgCards3">
                          <img src="assets/images/icons/ICON_card_hipercard1.svg" alt="Hipercard">
                      </div>

                    </div>

                    <div class="row">
                        <div class="col-md-3 col-2 col-sm-2 imgCards4">
                          <img src="assets/images/icons/ICON_card_discover1.svg" alt="Discover">
                        </div>

                        <div class="col-md-3 col-2 col-sm-2 imgCards5">
                            <img src="assets/images/icons/ICON_card_elo1.svg" alt="Elo">
                        </div>

                        <div class="col-md-3 col-2 col-sm-2 imgCards6">
                            <img src="assets/images/icons/ICON_card_aura1.svg" alt="Aura">
                        </div>

                        <div class="col-md-3 col-2 col-sm-2 imgCards6">
                            <img src="assets/images/icons/ICON_card_boleto1.svg" alt="Boleto">
                        </div>

                    </div>
               </div>
              </div>
            </div>
       </div>
      </div>
      <!-- Bloco de código do rodapé -->

      <!-- Bloco de código do Copyright -->

       <div>

         <div class="container styleCopy col-md-12">
           <div class="row">
           <div class="col-md-3"></div>
           <div class="col-md-6">
           <div class="textCopy">Copyright 2018 www.lilihome.com.br, TODOS OS DIREITOS RESERVADOS,
           Todo o conteúdo do site, todas as fotos, imagens, logotipos, marcas,
           dizeres, som, software, conjunto imagem, layout, trade dress,
           aqui veiculados são de propriedade exclusiva da WAYSYSTEM.
           É vedada qualquer reprodução, total ou parcial, de qualquer elemento de identidade,
           sem expressa autorização. A violação de qualquer direito mencionado
           implicará na responsabilização cível e criminal nos termos da Lei.
           Waysystem Desenvolvimento de Software LTDA - ME - CNPJ: 26.111.463/0001-14 Rua Natal,
           1322 - Cajuru - CEP 82930-210 - Curitiba - PR</div>
           </div>
           <div class="col-md-3"></div>
          </div>


    <!-- Bloco de código do Copyright -->
