<!-- Bloco de código da Section -->
<section> 
  <div class="cardComponent sizePage">     
    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-6">        
  
        <div class="titlePage"><h1>COMPRA</h1></div>
        <div class="titlePage2">Tudo que você precisa saber sobre compra em respostas rápidas.</div>
        <div class="textPage">								
            <br>
                
        <!-- Bloco de código de faq -->        
        <div id="accordion1">
        <div class="card col-md-12 list-group">  
          <!-- Bloco de código de faq 1-->     
            <div class="card-body col-md-11 list-group-item cardShadow">
              <a class="collapsed card-link" data-toggle="collapse" href="#collapse1">
                  <div class="row">
                      <div class="col-md-11">Adicionar um produto ao carrinho garante a reserva do produto?</div>
                      <div class="col-md-1">
                          <img src="/assets/images/ICON_plus.svg" alt="plus">
                      </div>	
                  </div>
              </a>
            </div>
          
           <div id="collapse1" class="collapse text-faq cardFaq" data-parent="#accordion1">
              <div class="card-footer list-group-item-secondary">
                A garantia de reserva de um produto ocorre somente após a finalização da compra. 
                Os produtos adicionados do Carrinho não são reservados. 

              </div>
            </div>
            <!-- Bloco de código de faq 1-->                                 
          </div>  
        </div>          
        
        </div>          
      </div>
    </div>
  </div> 
  </section>
  <!-- Bloco de código da Section -->

