<!-- Bloco de código da Section -->
<section> 
  <div class="cardComponent sizePage">     
    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-6">        
  
        <div class="titlePage"><h1>CANCELAMENTOS</h1></div>
        <div class="titlePage2">Tudo que você precisa saber sobre cancelamentos em respostas rápidas.</div>
        <div class="textPage">								
            <br>
                
        <!-- Bloco de código de faq -->        
        <div id="accordion1">
        <div class="card col-md-12 list-group">  
          <!-- Bloco de código de faq 1-->     
            <div class="card-body col-md-11 list-group-item cardShadow">
              <a class="collapsed card-link" data-toggle="collapse" href="#collapse1">
                  <div class="row">
                      <div class="col-md-11">Como faço para cancelar minha compra?</div>
                      <div class="col-md-1">
                          <img src="/assets/images/ICON_plus.svg" alt="plus">
                      </div>	
                  </div>
              </a>
            </div>
          
           <div id="collapse1" class="collapse text-faq cardFaq" data-parent="#accordion1">
              <div class="card-footer list-group-item-secondary">
                Se a forma de pagamento escolhida for o boleto bancário e se o pagamento ainda não tiver sido efetuado, o pedido será cancelado automaticamente no prazo de vencimento do boleto, sem qualquer ônus para você.  
                O cancelamento de pedidos feitos por cartão de crédito ou pagamentos de boleto já efetuados, poderá ser realizado através de nossa Central de Relacionamento por WhatsApp (41) 98754-0480 ou (41) 98454-2675, ou por meio do e-mail sac@lilihome.com.br.
              </div>
            </div>
            <!-- Bloco de código de faq 1-->

            <!-- Bloco de código de faq 2-->
            <div class="card-body col-md-11 list-group-item cardShadow">
              <a class="collapsed card-link" data-toggle="collapse" href="#collapse2">
                  <div class="row">
                      <div class="col-md-11">Em quanto tempo eu posso cancelar meu pedido?</div>
                      <div class="col-md-1">
                          <img src="/assets/images/ICON_plus.svg" alt="plus">
                      </div>	
                  </div>
              </a>
            </div>
          
           <div id="collapse2" class="collapse text-faq cardFaq" data-parent="#accordion2">
              <div class="card-footer list-group-item-secondary">
                O prazo para solicitar o cancelamento de sua compra na Lilihome é de até 07 (sete) dias corridos após o recebimento do pedido em nosso sistema. 
                O cancelamento de pedidos feitos por cartão de crédito ou pagamentos de boleto já efetuados, poderá ser realizado através de nossa Central de Relacionamento por WhatsApp nos números  (41) 98754-0480 ou (41) 98454-2675, ou por meio do e-mail sac@lilihome.com.br.

              </div>
            </div>
            <!-- Bloco de código de faq 2-->

            <!-- Bloco de código de faq 3-->
            <div class="card-body col-md-11 list-group-item cardShadow">
              <a class="collapsed card-link" data-toggle="collapse" href="#collapse3">
                  <div class="row">
                      <div class="col-md-11">Por que meu pedido foi cancelado?</div>
                      <div class="col-md-1">
                          <img src="/assets/images/ICON_plus.svg" alt="plus">
                      </div>	
                  </div>
              </a>
            </div>
          
           <div id="collapse3" class="collapse text-faq cardFaq" data-parent="#accordion3">
              <div class="card-footer list-group-item-secondary">
                O pedido feito via Cartão de Crédito pode ter sido cancelado por falta de limite ou pela operadora do cartão. 
                Se o cancelamento se deve a algum desses fatores, você deve verificar com sua operadora de cartão de crédito se existe algum impedimento para que seu pedido seja concluído. 
                Se você optou por pagamento via boleto bancário, lembre-se que o não pagamento até a data de vencimento causará o cancelamento do pedido.

              </div>
            </div>
            <!-- Bloco de código de faq 3-->

            <!-- Bloco de código de faq 4-->
            <div class="card-body col-md-11 list-group-item cardShadow">
                <a class="collapsed card-link" data-toggle="collapse" href="#collapse4">
                    <div class="row">
                        <div class="col-md-11">Como é feita a devolução de valores no cancelamento da compra? </div>
                        <div class="col-md-1">
                            <img src="/assets/images/ICON_plus.svg" alt="plus">
                        </div>	
                    </div>
                </a>
              </div>
            
             <div id="collapse4" class="collapse text-faq cardFaq" data-parent="#accordion4">
                <div class="card-footer list-group-item-secondary">
                  Após a solicitação de cancelamento, teremos o prazo de até 10 (dez) dias úteis para a devolução dos valores.  
                  Cartão de Crédito: Em compras com cartão de crédito, a administradora do cartão será notificada e o estorno ocorrerá na fatura seguinte ou na posterior, de uma só vez, seja qual for o número de parcelas utilizado na compra. O prazo de ressarcimento depende da administradora do cartão.   
                  Boleto Bancário: Se a forma de pagamento escolhida foi o boleto bancário e o pagamento ainda não foi efetuado, o pedido será cancelado automaticamente no prazo de vencimento do boleto, sem qualquer ônus.  Porém, se o boleto já foi pago, a restituição será efetuada por meio de depósito bancário, em até 10 (dez) dias úteis, somente na conta corrente do(a) comprador(a) que deve ser o titular da conta. É necessário que o CPF do titular da conta corrente seja o mesmo que consta no pedido (CPF do cliente).  
                </div>
              </div>
            <!-- Bloco de código de faq 4-->                      
          </div>  
        </div>          
        
        </div>          
      </div>
    </div>
  </div> 
  </section>
  <!-- Bloco de código da Section -->
