<!-- Bloco de código da Section -->
<section>
    <div class="sizePage">
      <div>
        <div>
          <span class="senha-profile-title">
            EDITAR SENHA
          </span>
        </div>
        <form>
          <div class="row">
            <div class="col-md-6">
                <span class="sub-title">Insira sua nova senha</span>
                <input type="text" class="form-control textCad" size="80" name="senha">
                <div class="col-md-6 border border-bottom border-top-0 border-right-0 border-left-0 borderCad"></div>
                <button type="button" class="btn btn-outline-success buttonCad">OK</button>
            </div>
            <div class="col-md-6">
                <span class="sub-title">Repita a senha</span>
                <input type="text" class="form-control textCad" name="repSenha">
                <div class="col-md-6 border border-bottom border-top-0 border-right-0 border-left-0 borderCad"></div>
            </div>
          </div>

        </form>
      </div>
    </div>
  </section>

<!-- Bloco de código da Section -->
